@charset "ISO-8859-1";


/* GENERIQUE */

html { 
  background: url(https://ultrh.webnode.fr/_files/200000047-c2bffc3ba3/33691165_10155745185528666_4380305251039707136_o.jpg) no-repeat center center fixed; 
  background-size: cover;
}

body{
	background-color: rgba(0,0,0, 0.5);
	background-size: cover;
	height: 1000px;
   
}

.container1{
	margin-top: 25px;
	margin-left: 15%;
	margin-right: 15%;
	display: flex;
	flex-direction: column;
}

.div1{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px;
	background-color: white;
	margin-left: 25%;
	margin-right: 25%;
	border-radius: 10px;
	}

.div2{
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.div2 p{
	color: red;
	font-weight: bold;
	}


.buttonForm{
	display: flex;
	justify-content: center;
}


.divTitle1{
}







/* TABLE : DASHBOARD + LISTE EVENTS */

.divTable1{
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); 
	padding-left: 25px;
	padding-right: 25px;
	margin-top: 50px;
	padding-bottom: 25px;
	padding-top: 25px;
	margin-bottom: 50px;
}


.divTable1 table{
	width: 1000px;
}

.divTable1 table tr th, .divTable1 table tr td{
	width: 100px;
	border: 1px solid black;
}



.divTable2{
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); 
	padding-bottom: 25px;
	padding-top: 25px;
	padding-left: 25px;
	padding-right: 25px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 10%;
	margin-right: 10%;
}


.divTable2 table{
	width: 1000px;
}

.divTable2 table tr th, .divTable2 table tr td{
	width: 100px;
	border: 1px solid black;
}







/* LISTE EVENTS */


.divList1{
	padding: 25px;
	background-color: white;
	border-radius: 10px;
}





/* EVENT FORM */

.eventForm{
	display: flex;
	justify-content: center;
	margin-top: 25px;
}


/* Formulaire de création d'atelier */

#workshopForm{
    width: 600px;
    padding: 30px;
    border-radius: 3%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
} 












/* Formulaire de connexion */ 

#loginForm{
    width: 300px;
    margin: 50px;
    padding: 30px;
    border-radius: 3%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}











/* Formulaire d'inscription */

#registerForm{
    width: 300px;
    margin: 50px;
    padding: 30px;
    border-radius: 3%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


#formContainer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}


/* Page Confirmation d'inscription */

.centerLoginForm{
	display: flex;
	justify-content: center;
}


/* Page Ajouter un nouvel élément */

#eventDiv1{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); 
	margin-left: 200px;
	margin-right: 200px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#eventButton{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.button1 a{
	margin: 25px;
	width: 150px;
}



/* Formulaire de création de lieu */

#locationForm{
    width: 500px;
    padding: 30px;
    border-radius: 3%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#locationFormDiv{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}


/* Formulaire de création de match */

#matchFormContainer{
	display: flex;
	justify-content: center;
}

#matchForm{
    padding: 30px;
    border-radius: 3%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#matchFormDiv{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

#matchFormDiv1{
	width: 500px;
	margin: 20px;
}

#matchFormDiv2{
	width: 500px;
	margin: 20px;
}

#matchFormDiv3{

	justify-content: center;
}

#condition{
	margin-top: 25px;
}

/* Formulaire de création de réunion */

#meetingFormContainer{
	display: flex;
	justify-content: center;
	margin-top: 25px;
}

#meetingForm{
    width: 600px;
    padding: 30px;
    border-radius: 3%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
} 





/* DASHBOARD */

#dashboard1{
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); 
	padding-left: 25px;
	padding-right: 25px;
	margin-top: 50px;
	padding-bottom: 25px;
	padding-top: 25px;
	margin-bottom: 50px;
	}
	
#dashboard2{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 25px;
	justify-content: space-between;
	}
	
#dashboard3 table tr th, #dashboard3 table tr td{
	width: 30%;
	border: 1px solid black;
}
	
#dashboard3 table{
	width: 100%;
	}




/* PAGE EVENT */

.event1{
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); 
	padding-bottom: 25px;
	padding-top: 25px;
	padding-left: 25px;
	padding-right: 25px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 10%;
	margin-right: 10%;
}























/* HEADER */

.navbar{
	padding-left: 300px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar div ul li{
	margin-left: 25px;
}





/* h1 */
h1 {
	color: #800080; 
}

h2 {
	color: #970097;
}

