@charset "ISO-8859-1";
/* header */
#header{ 
    background-color: #800080;
    font-size: 1.2em;
    color: #ffff11;
    display: flex;
 } 

#projectTitle{
	padding-left:10px;
}  
.navigation {
  list-style: none;
  margin: 0; 
  
  background: #800080;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color:  #ffff11;
}

.navigation a:hover {
  background: darken(deepskyblue, 2%);
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
/* Index */

#titreIndex{
	margin-top: 50px;
}


/* Formulaire de connexion */ 

#loginForm{
    width: 300px;
    height: 310px;
    margin: 50px;
    padding: 30px;
    border-radius: 3%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/* #loginDiv{
    display: flex;
    justify-content: space-around;
    margint-left: 10px;
} */
/* #loginDiv label{
    margin: 10px 0 0 0;
} */

/* Formulaire d'inscription */

#registerForm{
    width: 300px;
    height: 600px;
    margin: 50px;
    padding: 30px;
    border-radius: 3%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


#formContainer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}



/* Formulaire de création de lieu */

#locationForm{
    width: 500px;
    height: 680px;
    margin: 50px;
    padding: 30px;
    border-radius: 3%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#locationFormDiv{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

.titleForm{
	margin-bottom: 25px;
}


/* Formulaire de création de match */

#matchFormContainer{
	display: flex;
	justify-content: center;
}

#matchForm{
    width: 1200px;
    height: 700px;
    margin: 50px;
    padding: 30px;
    border-radius: 3%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#matchFormDiv{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

#matchFormDiv1{
	width: 500px;
	margin: 20px;
}

#matchFormDiv2{
	width: 500px;
	margin: 20px;
}

#condition{
	margin-top: 25px;
}

/* Formulaire de création de réunion */

#meetingFormContainer{
	display: flex;
	justify-content: center;
}

#meetingForm{
    width: 800px;
    height: 700px;
    margin: 50px;
    padding: 30px;
    border-radius: 3%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
} 






/* h1 */
h1 {
	color: #800080;
}

h2 {
	color: #970097;
}

/* .button{
	width: 100px;
	padding: 7 10 7 10px; 
	background:#800080;
	color:#ffff11; 
	text-decoration: none; 
	border-radius: 15%;
} */

/* listes d'événements  */
.eventsLists {
	margin: 50 px 0 0 0;
} 

